@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  --background: #e3e3e3;
  --text: #3e3e3e;
  --accent: #ffc900;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body{
  background-color: #eee;
}

header {
  background-color: var(--accent);
  padding: 1rem;
  padding-bottom: 1.5rem;
  /* -webkit-text-stroke: black 1px; */
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: larger;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  text-align: center;
  /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); */
}

header h1{
  padding-bottom: 1rem;
}

.img_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}

#search_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#search_bar {
  border: none;
  border-radius: 100px;
  width: 90%;
  height: 50px;
  font-size: larger;
  text-align: center;
}

#search-icon {
  position: absolute;
  right: 7vw;
  width: auto;
  height: 70%;
}

#recipe-categories {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  overflow: auto;
  padding: 0;
  margin: 0;

}

#recipe-categories button{
  padding: 1.5rem 0;
  min-width: 100px;
  border-radius: 10px;
  text-align: center;
}

#recipe-categories button:first-of-type {
  margin-left: 1.5rem;
}

#recipes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#recipes figure{
  background-color: #fff;
  margin: 0;
  padding: 1rem;
}

#recipes figure h2{
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.35rem;
}

#recipes figure img{
  max-width: 310px;
}

.container-recipes{
  position: relative;
}

.loader-container{
  position: absolute;
}


/* LOADING SCREEN */
     .loader-container {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid var(--accent);
      width: 80px;
      height: 80px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @media (min-width: 1200px){
      
    }
